@import "../utils/vars.scss";

.chart {
  position: relative;
  width: 57vw;
  height: 300px;
  padding-left: 10px;
  @media screen and (max-width: $lgDesktopWidth) {
    width: 54vw;
  }
  @media screen and (max-width: $smDesktopWidth) {
    width: 54vw;
  }
  @media screen and (max-width: $tableWidth) {
    width: 48vw;
  }
  @media screen and (max-width: $smTableWidth) {
    width: 94vw;
    padding: 25px 0 0 0;
  }
}

.chart__portfolio {
  position: relative;
  width: 50vw;
  height: 300px;
}
