.body__container {
  min-width: 440px;
  flex-direction: column;
  @media screen and (max-width: $tableWidth) {
    min-width: 370px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    min-width: 370px;
  }
  @media screen and (max-width: $phoneWidth) {
    min-width: 340px;
  }
  @media screen and (max-width: $smPhoneWidth) {
    min-width: 250px;
  }
}
.icon__container{
  color: #c4c4c4;
  font-weight: 550;
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.img__items {
  width: 1.9em;
  margin-right: 10px;
}
.form__wrapper {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgb(145, 59, 169, 0.3);
  padding: 5px 0;
}
.form__container {
  display: flex;
  color: brown;
}
.selected__wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 20px 0px 10px;
  justify-content: space-around;
  @media screen and (max-width: $smPhoneWidth) {
    margin: 0;
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  padding-left: 10px;
}





