.body__container {
  width: 100%;
  flex-direction: column;
}
.icon__container{
  color: #c4c4c4;
  font-weight: 550;
  box-shadow: 0px 2px 10px 0px rgb(145, 59, 169, 0);
  margin-bottom: 30px;
  font-size: 18px;
}

.img__items {
  width: 40px;
  margin-right: 10px;
}

.form__wrapper {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgb(145, 59, 169, 0.3)
}

.note-form{
  padding: 10px 0 0 10px;
}

.form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.selected__wrapper{
  display: flex;
  flex-direction: column;
}

.form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}





